$primary-accent: #00AEDB;
$primary-accent-shaded: #009AC2;

$secondary-accent: #EC4399;
$secondary-accent-shaded: #98005D;

$gray-darkest: #0A0C0C;
$gray-darker: #333C3F;
$gray-dark: #5B6C71;
$gray-light: #A0ADB2;
$gray-lighter: #CDD5D8;
$gray-lightest: #E6E9EB;
$gray-lightest-tinted: #F2F4F4;

$hl-darker: #B5AA8D;
$hl-dark: #DBCEAB;
$hl-light: #F5DFA6; // Notice
$hl-lighter: #FAEFD2; // Notice @ 50%
$hl-lightest: #FCF7E9; // Notice @ 25%
