<div class="grid-controls">
  <button class="js-action js-focus left">Focus Off</button>
  <button class="js-action js-focus-menu right">
    <i class="ss-icon">List</i>
  </button>
  <form class="focus-controls-menu">
    <fieldset>
      <h6>Details</h6>
      <ul>
        <li>
          <input id="name" type="checkbox">
          <label for="name">Name</label>
        </li>
        <li>
          <input id="platform" type="checkbox">
          <label for="platform">Platform</label>
        </li>
        <li>
          <input id="format" type="checkbox">
          <label for="format">Format</label>
        </li>
        <li>
          <input id="size" type="checkbox">
          <label for="size">Size</label>
        </li>
          <input id="position" type="checkbox">
          <label for="position">Position</label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
      <h6>Dates</h6>
      <ul>
        <li>
          <input id="start-date" type="checkbox">
          <label for="start-date">Start Date</label>
        </li>
        <li>
          <input id="end-date" type="checkbox">
          <label for="end-date">End Date</label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
      <h6>Inventory</h6>
      <ul>
        <li>
          <input id="unit-type" type="checkbox">
          <label for="unit-type">Unit Type</label>
        </li>
        <li>
          <input id="available" type="checkbox">
          <label for="available">Available</label>
        </li>
        <li>
          <input id="quantity" type="checkbox">
          <label for="quantity">Quantity</label>
        </li>
        <li>
          <input id="sov" type="checkbox">
          <label for="sov">SOV</label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
      <h6>Rates</h6>
      <ul>
        <li>
          <input id="cost-type" type="checkbox">
          <label for="cost-type">Cost Type</label>
        </li>
        <li>
          <input id="media-rate" type="checkbox">
          <label for="media-rate">Media Rate</label>
        </li>
        <li>
          <input id="margin" type="checkbox">
          <label for="margin">Margin</label>
        </li>
        <li>
          <input id="client-rate" type="checkbox">
          <label for="client-rate">Client Rate</label>
        </li>
      </ul>
    </fieldset>
    <fieldset>
      <h6>Costs</h6>
      <ul>
        <li>
          <input id="add-on-cost" type="checkbox">
          <label for="add-on-cost">Add-on Cost</label>
        </li>
        <li>
          <input id="media-cost" type="checkbox">
          <label for="media-cost">Media Cost</label>
        </li>
        <li>
          <input id="margin-cost" type="checkbox">
          <label for="margin-cost">Margin Cost</label>
        </li>
        <li>
          <input id="client-cost" type="checkbox">
          <label for="client-cost">Client Cost</label>
        </li>
      </ul>
    </fieldset>
  </form>
</div>
